@import url('./style.css');

body {
    background-image: url(../images/background-movies-series.png);
    background-size: cover;
    background-color: var(--primary-color);
    min-height: 100vh;
    color: #fff;
}

.nav-bar {
    width: 100%;
    background: var(--nav-bg-color);
    display: flex;
    justify-content:space-between ;
    padding: 12px 1rem;
    align-items: center;
    min-height: 6vh;
}

.menu-logo{
    width: 150px;
    max-width: 180px;
}

.text-nav{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 0.75rem;
    text-decoration: none;
    margin-right: 12px;
    cursor: pointer;
}

.btn-nav-bar{
    background-color: var(--tertiary-color);
    padding: 8px 26px;
    border-radius: 50px; 
    border: none;
    cursor: pointer;
    margin-left: 5px;
    transition: background 1s, color 1s;
}

.btn-nav-bar:hover {
    background-color: var(--btn-link-bg-color);
    color: var(--btn-link-color);
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", cursive;
    padding: 1rem;
    height: 70vh;
    width: 100%;
}

#form-login{
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: var(--form-bg-color);
    gap: 24px;
    padding: 40px;
}

#form-login >h1{
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    align-self: center;
    margin-bottom: 1.5rem;
}

.input-login{
    border-radius: 8px;
    background: var(--form-field-bg-color);
    border: var(--form-field-border) !important;
    color: var(--text-color);
    padding: 16px;
    font-size: 1rem;
    border: 1px solid #fff;
    width: 100%;
}

.input-login::placeholder{
    color: var(--form-field-plaehoclder);
}
.input-login:invalid {
    border-color: var(--form-field-error);
}

.user-actions{
    margin-top: 24px;
    text-align: left;
}

button{
    padding: 15px 42px;
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background: var(--tertiary-color);
    color: #fff;
}

.login-link {
    color: var(--link-color);
    text-decoration: none;
    margin-left: 24px;
    font-weight: bold;
    cursor: pointer;
}

.button-transition {
    background: var(--btn-bg-color-gradient);
    outline: 3px solid transparent;
    transition: background 1s, outline 1s, transform 1s;
    background-size: 250%;
}

.button-transition:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--link-color);
    list-style: none;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.element-text{
    height: 5vh;
}

.element-text > a{
    font-family: "Raleway", sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin: 0 10px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--link-color);
    cursor: pointer;
    font-weight: bold;
    transition: color 0.5s;
}

.footer-container > p{
    font-size: 0.75rem;
    margin: 16px 0;
    color: var(--link-color);
    font-weight: 300;
}

.social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 75px;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}
