@import url('./global.css');

body {
    background-image: url(../images/background-movies-series.png);
    background-size: cover;
    background-color: var(--primary-color);
    min-height: 100vh;
    color: #fff;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", cursive;
    padding: 1rem;
    height: 70vh;
    width: 100%;
}

#form-login {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--form-bg-color);
    gap: 24px;
    padding: 40px;
}

#form-login>h1 {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    align-self: center;
    margin-bottom: 1.5rem;
}

.input-login {
    border-radius: 8px;
    background: var(--form-field-bg-color);
    border: var(--form-field-border) !important;
    color: var(--text-color);
    padding: 16px;
    font-size: 1rem;
    border: 1px solid #fff;
    width: 100%;
}

.input-login::placeholder {
    color: var(--form-field-plaehoclder);
}

.input-login:invalid {
    border-color: var(--form-field-error);
}

.user-actions {
    margin-top: 24px;
    text-align: left;
}

.login-link {
    color: var(--link-color);
    text-decoration: none;
    margin-left: 24px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    body {
        height: auto;
    }

    .user-actions .button {
        display: block;
        margin-bottom: 24px;
    }

    .login-link {
        margin: 0;
    }
}