/*li{
    color: red;
}

li li{
    color: greenyellow;
}

#lista-01 li {
    background: lightblue;
}*/

.fundo-verde li {
    background: lightgreen;
}

.fundo-azul li {
    background: lightblue;
}

li {
    color: red;
}

.fundo-verde #sublista-01 li {
    color: black;
}