div {
    margin-bottom: 30px;
}

.exemplo {
    width: 300px;
    height: 300px;
    background-image: url('/Fundo/computador.svg'), url('/Fundo/foto-vertical-de-uma-estrada-com-montanhas-magnificas-sob-o-ceu-azul-capturada-na-california.jpg');
}

#auto{
    background-size: auto;
}

#cover {
    background-size: cover;
}

#contain{
    background-size: contain;
}

#tamanho {
    background-size: 50%;

}

#tamanho-x-y {
    background-size: 200px 100%;
}

#exemplo-camadas {
    background-size: contain, cover;
}